 #fname
            {
                height: 35px;
                color:brown;
                border-width: 5px;
                border-style: solid;
                border-color: black;

                
            }
        table
        {
            height:100px;
            width:100px;
            border-color: black;
            border-style: solid;

        }
        html{
            width: 100%;
            height: 100%;
        }
        body{
            width: 100%;
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;;
        }
        .calc{
            height:300px;
            width:300px;
            background-color:rgb(227, 239, 209)
            
            
            
         }