body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
#editpop {
    position: absolute;
    top: 100px;
    left: 600px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 25px black;
    background-color: white;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#addData {
    position: absolute;
    top: 100px;
    left: 600px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 25px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.pophead {
    background-color: #eee;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pophead span {
    font-weight: bold;
}

.pophead input {
    float: right;
}

.popcontent {
    padding: 10px;
}

input {
    margin-bottom: 5px;
}

.popcontent {
    padding: 10px;
}


.addformhead {
    background-color: #eee;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.addformhead span {
    font-weight: bold;
}

.addformhead input {
    float: right;
}
table{
    border:1px solid grey;
    margin-top:10px;
}
thead{
    font-weight: bold;
    
}
#addform{
    padding:10px;
}
#addsubmit{
    display:flex;
    align-items: center;
    justify-content: center;
}
#popsubmit{
    margin-top:6px;
    display:flex;
    align-items: center;
    justify-content: center;
}
