body{
    background-image: url("BackgroundImage.jpg");
    display: flex;
    background-size:cover;
    background-repeat: no-repeat;
}
#page1
{
    text-align:center;
    margin:20%;
    border:5px;
    padding-top:20px;
    padding-left:70px;
    padding-right:70px;
    padding-bottom:20px; 
    margin-left: 31%;
    margin-top:13%;
    margin-bottom: 15%;
    margin-right: 30%;
    border-radius: 20px;
    backdrop-filter: blur(60px) ;
    background-color:rgba(255,255,255,0);
}